
body{
    background-color: grey;    
}

/* descendant selctors */
div .para{
    color: red;
}

div #para-1{
    color: blue;
}

ul li{
    background-color: pink;
}

/* child-selector */
div > p{
    color:pink;
}

/* adjcaent sibling */
div + p{
    color: aliceblue;
}

/* general sibling */
div ~ p{
    color: aliceblue;
}

/* pseudo-class selector */
.button{
    background-color: pink;
    border: 0px;
    padding: 10px 20px;
    border-radius:20px;
}
.button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

/* unvisited links */
.link:link{
    color:white
}

/* visited links */
.link:visited{
    color:blue;
}
/* active links is when you click on it  */
.link:active{
    color: wheat;
    font-weight: 500;
}


/* pseudo element */
p::first-line{
    color: black;
}

p::before{
    content: "_____text______";
}
p::after{
    content: "XXXXXXXXXX";
}

p::marker{
    
}