.container{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    /* align-items: stretch; */
    height: 400px;
    align-content:center;
}

.container .item{
    width:20%;
    background-color: darkblue;
    color:white;
    margin: 40px 10px;
}