/* UNIVERSAL TAG */
*{
    background-color: #808080;
    margin: 10px;
    
}

/* TAG SELECTOR */
p{
    font-weight: 200;
}

/* CLASS SELECTOR */
.para{
    font-weight: 600;
}

/* SELECTS ONLY P tag in PARA CLASS */
p.para{
    color:lightgreen;
}

/* ID SELECTOR */
#heading{
    color:darkblue;
}

/* MULTIPLE DOINGS */
.para, #heading{
    margin:20px;
}